# Dataset Creation

we have files 
- `resultsAnnotation.tsv`, 
- `datasetAnnotation.tsv`, 
- `taskAnnotation.tsv`, 
- `paper_links.tsv`, 
- `TDM_taxonomy.tsv`, 
- `TDMs_taxonomy.tsv` 
- `paper_name_taxonomy.tsv` 

Created mostly from the file `evaluation-tables.json` from [paperswithcode](https://paperswithcode.com/about)

In [1]:
# imports
import ipdb, os, re
import pandas as pd

from sklearn.model_selection import train_test_split

In [2]:
# with open(f"../data/resultsAnnotation.tsv", errors='replace') as f:
#     resultsAnnotation = f.read().splitlines()

# with open(f"../data/datasetAnnotation.tsv", errors='replace') as f:
#     datasetAnnotation = f.read().splitlines()
    
# with open(f"../data/taskAnnotation.tsv", errors='replace') as f:
#     taskAnnotation = f.read().splitlines()
    
# with open(f"../data/TDM_taxonomy.tsv", errors='replace') as f:
#     TDM_taxonomy = f.read().splitlines()
    
# with open(f"../data/paper_name_taxonomy.tsv", errors='replace') as f:
#     paper_name_taxonomy = f.read().splitlines()
    

datasetAnnotation_csv = "/nfs/home/kabenamualus/Research/task-dataset-metric-nli-extraction/data/annotations_final/datasetAnnotation.tsv"
resultsAnnotation_csv = "/nfs/home/kabenamualus/Research/task-dataset-metric-nli-extraction/data/annotations_final/resultsAnnotation.tsv"
taskAnnotation_csv = "/nfs/home/kabenamualus/Research/task-dataset-metric-nli-extraction/data/annotations_final/taskAnnotation.tsv"
TDM_taxonomy_csv = "/nfs/home/kabenamualus/Research/task-dataset-metric-nli-extraction/data/annotations_final/TDM_taxonomy.tsv"


datasetAnnotation_IBM_csv = "/nfs/home/kabenamualus/Research/task-dataset-metric-extraction/data/ibm/NLP-TDMS/annotations/datasetAnnotation.tsv"
resultsAnnotation_IBM_csv = "/nfs/home/kabenamualus/Research/task-dataset-metric-extraction/data/ibm/NLP-TDMS/annotations/resultsAnnotation.tsv"
taskAnnotation_IBM_csv = "/nfs/home/kabenamualus/Research/task-dataset-metric-extraction/data/ibm/NLP-TDMS/annotations/taskAnnotation.tsv"
TDM_taxonomy_IBM_csv = "/nfs/home/kabenamualus/Research/task-dataset-metric-extraction/data/ibm/NLP-TDMS/annotations/TDM_taxonomy.tsv"


datasetAnnotation = pd.read_csv(datasetAnnotation_csv, 
                    sep="\t", names=["label", "datasets"])
resultsAnnotation = pd.read_csv(resultsAnnotation_csv, 
                    sep="\t", names=["label", "TDMS"])
taskAnnotation = pd.read_csv(taskAnnotation_csv, 
                    sep="\t", names=["label", "tasks"])
TDM_taxonomy = pd.read_csv(TDM_taxonomy_csv, 
                    sep="\t", names=["tdm", "count"])

datasetAnnotation_IBM = pd.read_csv(datasetAnnotation_IBM_csv, 
                    sep="\t", names=["label", "datasets"])
resultsAnnotation_IBM = pd.read_csv(resultsAnnotation_IBM_csv, 
                    sep="\t", names=["label", "TDMS"])
taskAnnotation_IBM = pd.read_csv(taskAnnotation_IBM_csv, 
                    sep="\t", names=["label", "tasks"])
TDM_taxonomy_IBM = pd.read_csv(TDM_taxonomy_IBM_csv, 
                    sep="\t", names=["tdm", "count"])

annotations_merged = "/nfs/home/kabenamualus/Research/task-dataset-metric-nli-extraction/data/annotations_merged/"

## datasetAnnotation

In [3]:
datasetAnnotation.tail()

                 label                                           datasets
5722  2104.01378v1.pdf                                     speechocean762
5723  2104.10283v1.pdf                                                GQA
5724  2104.11980v1.pdf                                        NBA SportVU
5725  1704.00077v1.pdf                                        SegTrack v2
5726  2004.07922v1.pdf  Tobacco small-3482#Tobacco small-3482#Tobacco ...

In [4]:
datasetAnnotation_IBM.tail()

              label                                         datasets
342  1704.08381.pdf                                       LDC2015E86
343  1803.09074.pdf                                             RACE
344  1602.02373.pdf                        IMDb#AG News#DBpedia#Yelp
345    N18-2108.pdf                                       CoNLL 2012
346    P17-1089.pdf  Advising#ATIS#Scholar#Smaller Datasets#GeoQuery

In [5]:
datasetAnnotationMerge = datasetAnnotation.merge(datasetAnnotation_IBM, how='outer')

In [6]:
datasetAnnotationMerge[datasetAnnotationMerge.label.duplicated()]

Empty DataFrame
Columns: [label, datasets]
Index: []

In [7]:
datasetAnnotationMerge.to_csv(f"{annotations_merged}datasetAnnotation.tsv", 
                              header=False, index=False, sep="\t")

In [8]:
pd.read_csv(f"{annotations_merged}datasetAnnotation.tsv", 
                    sep="\t", names=["label", "datasets"]).head()

              label                                           datasets
0  1704.03549v4.pdf                                        FSNS - Test
1    1712.05404.pdf                                        FSNS - Test
2  1702.03970v1.pdf                                        FSNS - Test
3  2104.02324v1.pdf  COCO#PASCAL VOC 07+12#PASCAL VOC 07+12#COCO#PA...
4  2008.12995v3.pdf  BanglaLekha Isolated Dataset#BanglaLekha Isola...

## taskAnnotation

In [9]:
taskAnnotation.tail()

                 label                              tasks
5722  2104.01378v1.pdf  Phone-level pronunciation scoring
5723  2104.10283v1.pdf           Graph Question Answering
5724  2104.11980v1.pdf                Trajectory Modeling
5725  1704.00077v1.pdf                 Video Segmentation
5726  2004.07922v1.pdf       Document Text Classification

In [10]:
taskAnnotation_IBM.tail()

              label                   tasks
342  1704.08381.pdf             amr_parsing
343  1803.09074.pdf      question_answering
344  1602.02373.pdf      sentiment_analysis
345    N18-2108.pdf  coreference_resolution
346    P17-1089.pdf             sql_parsing

In [11]:
taskAnnotationMerge = taskAnnotation.merge(taskAnnotation_IBM, how='outer')

In [12]:
taskAnnotationMerge[taskAnnotationMerge.label.duplicated()]

Empty DataFrame
Columns: [label, tasks]
Index: []

In [13]:
taskAnnotationMerge.to_csv(f"{annotations_merged}taskAnnotation.tsv", 
                              header=False, index=False, sep="\t")

In [14]:
pd.read_csv(f"{annotations_merged}taskAnnotation.tsv", 
                    sep="\t", names=["label", "datasets"]).head()

              label                       datasets
0  1704.03549v4.pdf  Optical Character Recognition
1    1712.05404.pdf  Optical Character Recognition
2  1702.03970v1.pdf  Optical Character Recognition
3  2104.02324v1.pdf        Active Object Detection
4  2008.12995v3.pdf        Handwriting Recognition

## resultsAnnotation

In [15]:
resultsAnnotation.tail()

                 label                                               TDMS
5724  2104.01378v1.pdf  Phone-level pronunciation scoring#speechocean7...
5725  2104.10283v1.pdf        Graph Question Answering#GQA#Accuracy#96.30
5726  2104.11980v1.pdf      Trajectory Modeling#NBA SportVU#1x1 NLL#0.472
5727  1704.00077v1.pdf      Video Segmentation#SegTrack v2#Accuracy#86.86
5728  2004.07922v1.pdf  Document Text Classification#Tobacco small-348...

In [16]:
resultsAnnotation_IBM.tail()

              label                                               TDMS
341  1704.08381.pdf                 amr_parsing#LDC2015E86#Smatch#62.1
342  1803.09074.pdf  question_answering#RACE#Accuracy on RACE-m#60....
343  1602.02373.pdf  text_classification#AG News#Error#6.57$text_cl...
344    N18-2108.pdf      coreference_resolution#CoNLL 2012#Avg F1#73.0
345    P17-1089.pdf  sql_parsing#ATIS#Question Split#45$sql_parsing...

In [17]:
resultsAnnotationMerge = resultsAnnotation.merge(resultsAnnotation_IBM, how='outer')

In [18]:
resultsAnnotationMerge[resultsAnnotationMerge.label.duplicated()]

         label TDMS
3149  (1080Ti)  NaN

In [19]:
resultsAnnotationMerge.to_csv(f"{annotations_merged}/resultsAnnotation.tsv", 
                              header=False, index=False, sep="\t")

In [20]:
pd.read_csv(f"{annotations_merged}/resultsAnnotation.tsv", 
                    sep="\t", names=["label", "datasets"]).head()

              label                                           datasets
0  1704.03549v4.pdf  Optical Character Recognition#FSNS - Test#Sequ...
1    1712.05404.pdf  Optical Character Recognition#FSNS - Test#Sequ...
2  1702.03970v1.pdf  Optical Character Recognition#FSNS - Test#Sequ...
3  2104.02324v1.pdf  Active Object Detection#COCO#AP#(7.3, 13.8, 16...
4  2008.12995v3.pdf  Handwriting Recognition#BanglaLekha Isolated D...

## TDM_taxonomy

In [21]:
TDM_taxonomy.tail()

                                                    tdm  count
6738               Salient Object Detection#SOD#{max}Fβ      1
6739  Document Text Classification#Tobacco small-348...      3
6740  Document Text Classification#Tobacco small-348...      3
6741  Document Text Classification#Tobacco-3482#Accu...      3
6742  Document Text Classification#Tobacco-3482#Trai...      3

In [22]:
TDM_taxonomy_IBM.tail()

                                                   tdm  count
166                    timex_normalisation#TimeBank#F1      2
167  relationship_extraction#SemEval-2010 Task 8#F1...      1
168  relationship_extraction#SemEval-2010 Task 8#F1...      1
169                        question_answering#CliCR#F1      1
170       part-of-speech_tagging#Social media#Accuracy      2

In [23]:
TDM_taxonomyMerge = TDM_taxonomy.merge(TDM_taxonomy_IBM, how='outer')

In [24]:
TDM_taxonomyMerge[TDM_taxonomyMerge.tdm.duplicated()]

Empty DataFrame
Columns: [tdm, count]
Index: []

In [25]:
TDM_taxonomyMerge.to_csv(f"{annotations_merged}TDM_taxonomy.tsv", 
                              header=False, index=False, sep="\t")

In [26]:
pd.read_csv(f"{annotations_merged}TDM_taxonomy.tsv", 
                    sep="\t", names=["label", "datasets"]).head()

                                               label  datasets
0  Optical Character Recognition#FSNS - Test#Sequ...         3
1                    Active Object Detection#COCO#AP         1
2       Active Object Detection#PASCAL VOC 07+12#mAP         2
3  Handwriting Recognition#BanglaLekha Isolated D...         1
4  Handwriting Recognition#BanglaLekha Isolated D...         1

## Clean repo

In [27]:
# paper_links_csv = "/nfs/home/kabenamualus/Research/task-dataset-metric-extraction/data/ibm/NLP-TDMS/downloader/paper_links.tsv"
# paper_links = pd.read_csv(paper_links_csv, 
#                     sep="\t", names=["label", "link", "hash"])

In [28]:
# paper_links.head()

In [29]:
# resultsAnnotation_IBM.tail()

In [30]:
# for paper in list(paper_links.label):
#     if paper not in list(resultsAnnotation_IBM.label):
#         print(paper)
#         !rm /nfs/home/kabenamualus/Research/task-dataset-metric-extraction/data/pdf_IBM/$paper

In [31]:
# !rm /nfs/home/kabenamualus/Research/task-dataset-metric-extraction/data/pdf_IBM/N16-1020.pdf
# # !rm /nfs/home/kabenamualus/Research/task-dataset-metric-extraction/data/pdf_IBM/N16-1020.pdf

In [32]:
# # "task-dataset-metric-extraction/data/paperwithcode/annotations_merged"
# os.listdir("task-dataset-metric-extraction/data/paperwithcode/annotations_merged")